body{
    background-color: brown;
}

h1.encabezado{
    color: white;
}

h2.subs{
    
}

div.encabezado{
    width: 300px;
    margin: auto;
}

div.cuerpo{
    background-color:burlywood;
    width: 20%;
    padding: 2%;
    border: chocolate;
    height: auto;
}

p.texto{
    color: rebeccapurple;
}

div.tripleExterior{
    width: 100%;
    overflow: auto;
}
div.tripleInterior{
    width: 33%;
    float: left;
}